.fp-password-text {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #3f3f3f;
  margin-bottom: 15px;
}

.fp-back{
  justify-content: center;
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #58A7DD;
  margin-top: 20px;
}
  
.fp-back:hover{
  cursor: pointer;
}

.fs-success-text {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  background: #e7f7ef;
  border: 1px solid #2ca03c;
  color: #1a7b37;
  border-radius: 4px;
  margin: 20px 0;
}

.fp-text {
  margin-bottom: 10px;
}

.fp-success-url {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  color: #1a7b37;
  border-radius: 4px;
  margin: 20px 0;
}