.submit-form-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.add-new-form{
    display: flex;
    flex-direction: column;
}

.input-text{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
    margin-bottom: 5px;
}

.nrp-input-field {
    -moz-appearance: textfield;    
    -webkit-appearance: none;      
    appearance: none;              
}

.nrp-input-field::-webkit-outer-spin-button,
.nrp-input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nrp-input-field[type=number] {
    -moz-appearance: textfield;
}

.nrp-input-field.error{
    border: 1px solid red;
    outline: none;
}

.record-button{
    display: flex;
    background-color: #2982bd;
    color: #f4f4f4;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
    justify-content: center;
}

.record-button:hover{
    background-color: #80BCE5;
}